@import url("css/bouton.css");
@import url("css/top.css");

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid black;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }


thead th:nth-child(1) {

    width: 35%;
}
  
thead th:nth-child(2) {

    width: 13%;
  }
  
thead th:nth-child(3) {

    width: 13%;
  }
  
thead th:nth-child(4) {
    width: 13%;
  }    

thead th:nth-child(5) {
    width: 13%;
  }    

thead th:nth-child(6) {
    width: 23%;
}    

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid black;

  }


thead th{
    background-color: #F25635;
    border: 3px solid black;
    text-align: center;
  }
  
tbody tr:nth-child(odd) {
    background-color: #E4E2E1;
  }
  
  tbody tr:nth-child(even) {
    background-color: white;
  }

caption {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: larger;
  text-transform : uppercase;
}

h1 {
  text-align: center;
  font-family: sans-serif;   
}

body{
  background-color: #E4E2E1;
}

.interface{
  border-radius: 20px;
  margin-left: 20%; 
  margin-right: 20%;
  background-color: white;
  border:     3px solid black;
}

.send{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}


